<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ngo.teog.swift">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.hospital.PortationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Import/Export"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.hospital.AdvancedHospitalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="User management"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.maintenance.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Search"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.maintenance.SearchActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:label="Search"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.maintenance.SearchActivity3"
            android:configChanges="orientation|keyboardHidden"
            android:label="Search"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.login.StatsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Statistics"
            android:parentActivityName=".gui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="teog.virlep.de"
                    android:pathPrefix="/device"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="teog.virlep.de"
                    android:pathPrefix="/report"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="teog.virlep.de"
                    android:pathPrefix="/user"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.userProfile.UserProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.deviceCreation.NewDeviceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_create_device"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.deviceInfo.DeviceInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_device_info"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_about"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.ImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Image"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.ImageCaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Take image"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.reportInfo.ReportInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ngo.teog.swift.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".gui.userInfo.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.reportCreation.ReportCreationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gui.hospital.HospitalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="My Hospital"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gui.deviceCreation.NewDeviceActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:label="Enter general data"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gui.deviceCreation.NewDeviceActivity3"
            android:configChanges="orientation|keyboardHidden"
            android:label="Take picture"
            android:parentActivityName=".gui.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>