<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ngo.teog.swift">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="teog.virlep.de"
                    android:pathPrefix="/device" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="teog.virlep.de"
                    android:pathPrefix="/report" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="teog.virlep.de"
                    android:pathPrefix="/user" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.UserProfileActivity"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name=".gui.NewDeviceActivity"
            android:label="@string/title_activity_create_device" />
        <activity
            android:name=".gui.DeviceInfoActivity"
            android:label="@string/title_activity_device_info"></activity>
        <activity
            android:name=".gui.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".gui.ImageActivity"
            android:label="Image" />
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.ReportInfoActivity" />

        <receiver android:name=".helpers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".helpers.AlarmReceiver" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ngo.teog.swift.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".gui.UserInfoActivity" />
        <activity android:name=".gui.ReportCreationActivity" />
    </application>

</manifest>